/* all + mobile */
	[class*="col-"] 
	{width: 100%;}
div { margin: 0px; }

body {
	background-color: black;
	color: #EFEFEF;
	margin: 10px;
	font-family: Arial, Times New Roman;
}
[class*="col-"] {
    float: left;
    display: inline-block;
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px
    margin: 0px;
}
#title {
	text-align: left;
	padding: 15px;
	background-color: #003399;
	color: #FEFEFE;
	border-radius: 15px;
	border-color: white;
	border-style: solid;
	margin: 5px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#body{
	margin: 5px;
	color: black;
	background-color: #FEFEFE;
	border-radius: 15px;
	padding: 15px;
} 

.menu {
	background-color: white;
	color: black;
	border-radius: 15px;
	border-style: solid;
	border-color: black;
	border-width: 2px;
}

.menubutton{
	background-color: darkblue;
	color: white;
	padding: 15px;
	margin: 5px;
	border-color: black;
	border-width: 2px;
	border-style: solid;
	border-radius: 5px;
}
.submenu{
	display: inline;
}

.menua{
	display: inline;
}

.acceptlist {
	display: block;
}

a.menubutton{
	display: inline;
	text-decoration: none;
	font-family: Arial, Times New Roman;
}

a.menubutton:hover {
	background-color: #0055FF;
}

.border-round {
	border-radius: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}	

.iilo {
	font-size: 80%;
}

.player{
	background-color: #FF8855;
	border-radius: 5px;
	padding: 5px;
}

.right {
	float: right;
}

.left {
	float: left;
}

.currentsong {
	float: center;
	padding: 5px;
}

img.music{
	width: 10vw;
	height: 10vw;
	float: left;
	display: inline;
}

.info {
	border-radius: 5px;
	background-color: #333333;
	color: white;
}

.addsong {
	border-radius: 5px;
	background-color: #772233;
	color: white;
}

.volumeplayer {
	background-color: #DDDDDD;
	border-radius: 5px;
	margin: -3px;
}

#volume {
	text-align: center;
}

#clock {
	display: none;
}

#footer {
	padding: 0px;
	padding-left: 5px;
	padding-right: 5px;
}

#volumeslider {
	width: 60%;
	border-radius: 100%;
}

#clear {
	border-radius: 5px;
	background-color: black;
	color: white;
}

/* for mobiles */
@media only screen and (max-width: 767px) {
	.menu {
		display: block;
	}
	.menubutton{
		display: block;
	}
	a.menubutton {
		display: block;
	}
	.menua {
		display: block;
		width: 100%;
	}
	img.music {
		width: 15vw;
		height: 15vw;
	}
}

/* for tablets */
@media only screen and (min-width: 492px) and (max-width: 767px) and (orientation: landscape){
	.submenu{
		display: table;
		width: 100%;
	}
	.menua{
		width: auto;
		display: table-cell;
	}
	.menubutton{
		width: auto;
		display: inline;
	}
	a.menubutton{
		width: auto;
	}

	.acceptlist {
		display: inline;
	}
	
.col1 {width: 8.33%;}
.col2 {width: 16.66%;}
.col3 {width: 25%;}
.col4 {width: 33.33%;}
.col5 {width: 41.66%;}
.col6 {width: 50%;}
.col7 {width: 58.33%;}
.col8 {width: 66.66%;}
.col9 {width: 75%;}
.col10 {width: 83.33%;}
.col11 {width: 91.66%;}
.col12 {width: 100%;}
}

/* for desktops */
@media only screen and (min-width: 768px){

#clock {
	display: block;
	font-size: 16px;
	font-size: 5.7vw;
}

.menu{
	height: auto;
}

.currentsong {
	float: right;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}